section.about#about
    .container
        .row
            .col-sm-4
                .about-image
                    img(src="assets/img/about.png").img-responsive
            .col-sm-2
            .col-sm-6
                .about-content
                    .about-header Hi!
                    .about-info I'm a web developer based in Nicosia, Cyprus. I have a passion for web development and love to create for web and mobile devices. I'm also a part-time drummer, indie games lover, cartoonist, runner and dreamer. 
