section.contact
  .container
    .row
      .col-md-12
        .header Contact
        .sub-header Or just send me a friendly email from here.
    form#contact
        .row
          .col-sm-12
            .form-pin
              .pin
              
        .row
            .col-sm-12
                input(id='emailinput' name='emailinput' placeholder='Email' class='form-control input-md' type='email' required)
        .row
            .col-sm-12
                textarea(id='messageinput' name='messageinput' placeholder='Message' class='form-control' required)
        .row
            .col-sm-12
                .button-holder
                    button(id='submit-btn' name='submit-btn' class='button btn') Send
