section.hero#hero
    .container
        .row    
            .col-sm-12
                header
                    nav
                        ul
                            li.page-scroll: a(href="#about") About
                            li.page-scroll: a(href="#skills") Skills
                            li.page-scroll: a(href="#hire-me") Hire me
                            li.page-scroll: a(href="#portfolio") Portfolio
                            li.page-scroll: a(href="#social") Find me
                            li.page-scroll: a(href="#contact") Contact
        .row
            .col-md-12
                .hero-content
                    .hero-image
                        img(src="assets/img/hero.png").img-responsive.center-block
                    .hero-message Hello, i'm Jimmy. <span>I design | develop | evolve</span>
