section.skills#skills
    .container
        .row
            .col-md-12
                .header Skills
                .sub-header Wanna know what my skills are?
                
        .row
            {% for item in site.data.skills %}
            .col-sm-6
                .health-container
                    .health-bar
                        div(item-class = "{{item.class}}", class="health-percentage")
                    .health-status 
                        span {{item.skill}} : {{item.persentage}}%
            {% endfor %}
            
        
