footer
    .container
        .row
            .col-sm-5
                .footer-header About me
                .footer-about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .social-media
                    ul
                        li: a(href="#") <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        li: a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
                        li: a(href="#") <i class="fa fa-codepen" aria-hidden="true"></i>
                        li: a(href="#") <i class="fa fa-github" aria-hidden="true"></i>

            .col-sm-2
            .col-sm-5
                .footer-header Contact 
                form
                    .row
                        .col-sm-12
                            input(id='emailinput' name='emailinput' placeholder='Email' class='form-control input-md' type='text' required)
                    .row
                        .col-sm-12
                            textarea(id='messageinput' name='messageinput' placeholder='Message' class='form-control' required)
                    .row
                        .col-sm-12
                            .button-holder
                                button(id='submit-btn' name='submit-btn' class='btn') Send
                
        
.copyright 
    .row
        .col-sm-12 Copyright &copy; 2016 Jimmy Paschalides <span> Designed by Jimmy Paschalides </span>

                        
