header
    .container
        .row
            .col-sm-8
                .logo
                    .logo-image
            .col-sm-4
                nav
                    ul
                        li: a(href="#") About
                        li: a(href="#") Skills
                        li: a(href="#") Hire me
                        li: a(href="#") Portfolio
                        li: a(href="#") Contact
