section.skills
    .container
        .row
            .col-md-12
                .header Skills
                .sub-header Wanna know what my skills are?
        .row
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
            .col-sm-2
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
        .row
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
            .col-sm-2
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
        .row
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
            .col-sm-2
            .col-sm-5
                .health-container
                    .health-bar
                        .health-percentage.health-8
                    .health-status 
                        span HTML: 80%
