section.social#social
    .container
        .row
            .col-md-12
                .header Find me
                .sub-header You can find me and some of my work here.
            .col-md-12
              .social-media
                  ul
                      li: a(target="_blank" href="https://www.facebook.com/jimmy.paschalides") <i class="fa fa-facebook-official" aria-hidden="true"></i>
                      li: a(target="_blank" href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
                      li: a(target="_blank" href="http://codepen.io/dpasch01/") <i class="fa fa-codepen" aria-hidden="true"></i>
                      li: a(target="_blank" href="https://github.com/dpasch01") <i class="fa fa-github" aria-hidden="true"></i>
